# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

lib
**/allmusic/codec/
**/allmusic/comm/
**/allmusic/buffercodec/
**/allmusic/server/core/
**/allmusic/server/bstats/
**/allmusic/client/core/
**/allmusic/client/core/player/decoder/mp3/
.DS_Store
/onejar/**/src/main/java/com/coloryr/allmusic/client
/onejar/**/src/main/java/com/coloryr/allmusic/server
/onejar/**/src/main/java/com/coloryr/allmusic/comm
/onejar/**/src/main/java/com/coloryr/allmusic/codec
/onejar/**/src/main/java/com/coloryr/allmusic/buffercodec
