name: Gradle构建
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: 设置JDK8
      uses: actions/setup-java@v1
      with:
        java-version: 8
    - name: 设置权限
      run: chmod +x gradlew
    - name: 用Gradle构建
      run: ./gradlew build
    - name: 更新Jar
      uses: actions/upload-artifact@v2
      with:
        name: "AllMusic"
        path: build/libs
